// -------------------------------------------------------------------------
// NAVS
// -------------------------------------------------------------------------


// Default .nav class
// When used on an "ol" or "ul", this class throws the list into horizontal mode
// e.g.:
//   <ul class="nav">
//       <li><a href=#>Home</a></li>
//       <li><a href=#>About</a></li>
//       <li><a href=#>Portfolio</a></li>
//       <li><a href=#>Contact</a></li>
//   </ul>


.nav {
    list-style: none;
    margin-left: 0;
    margin-bottom: 0;
    padding-left: 0; // Override default ul/ol
    @include clearfix();

    > li {

        &,
        > a {
            display: inline-block;
           *display: inline;
            zoom: 1;
        }
        padding: .1em;
        margin: 0 1em;
    }
}

#menu-toggle {display: none;}  
.label-toggle {display: none;}

@media screen and (max-width: 768px) {
    ul {
	height: 0;
	list-style-type: none;
	opacity: 0;
	transition: all .5s ease;
	width: 100%;
	visibility: hidden;
    }
    
    li {

	> a {
	    display: block !important;
	}
	display: block !important;
	font-size: 1.5em;
	padding: 2em 0;
    }
    .label-toggle {
	display: block;
    }
}

#menu-toggle:checked ~ ul {
      opacity: 1;
      height: 20vh;
      visibility: visible;
}
